<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Formulario</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="PWA, Django, Heroku" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	
	<!-- css files -->
    <link href={% static "css/bootstrap.css" %} rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href={% static "css/style.css" %} rel='stylesheet' type='text/css' /><!-- custom css -->
    <script src="https://kit.fontawesome.com/e0696c5da9.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Niramit:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>

<!-- header -->
<header>
	<div class="container">
		<!-- nav -->
		<nav class="py-3 d-lg-flex">
			<div id="logo">
				<h1><a>Formulario de registro</a></h1>
			</div>
			<label for="drop" class="toggle"><i class="fa fa-bars"></i></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class=""><a href="{% url "home" %}" >Página principal</a></li>
				<li class=""><a href="{% url "about" %}">¿Qué es?</a></li>
                <li class=""><a href="{% url "galeria" %}">Galería</a></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->

<!-- inner-banner -->
<section class="inner-banner" id="home">
	<div class="inner-layer">
		<div class="container">
		</div>
	</div>
</section>
<!-- //inner-banner -->

<!-- breadcrumb -->
<div class="breadcrumb-w3pvt">
	<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{% url "home" %}">Principal</a>
			</li>
			<li class="breadcrumb-item" aria-current="page">Formulario</li>
		</ol>
	</nav>
	</div>
</div>
<!-- //breadcrumb -->
	
<!-- contact -->
<section class="contact py-5">
	<div class="container py-lg-5">
		<h2 class="heading mb-sm-5 mb-4">Ponte en contacto con nosostros, o envíanos tus comentarios o sugerencias</h2>
		<div class="row">
			<div class="col-lg-8 col-md-12 contact-form mt-md-0 mt-sm-10 mt-8">
                {%if post%}
                    <div class="alert alert-success">
                        <center><h4 class="mb-4 w3f_title">Gracias por tu tiempo, revisa tú bandeja de entrada</h4></center>
                    </div>
                {%endif%}
				<form name="contactform" id="contactform" method="post" >{% csrf_token %}
						<div class="form-group">
						  <label>Nombre</label>
						  <input required type="text" class="form-control" id="name" placeholder="Nombres y Apellidos" name="nombre">
						</div>
						<div class="form-group">
						  <label>E-mail</label>
						  <input required type="email" class="form-control" id="name" placeholder="Correo electrónico" name="email">
						</div>
						<div class="form-group">
						  <label>¿Tienes algún comentario o sugerencia?</label>
						  <textarea name="comentarios" class="form-control" id="iq" placeholder="Escríbelos aquí"></textarea>
						</div>				
						<button type="submit" class="btn btn-default">Enviar</button>
				</form>
			</div>
			<div class="col-lg-4 contact-map mt-lg-0 mt-sm-5 mt-4">
				<h4 class="mb-4 w3f_title">Mapa de ubicación</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15907.622894320191!2d-74.0701535!3d4.6108932!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3e0c4601240b54b1!2sTorre%20Colpatria!5e0!3m2!1ses!2sco!4v1569443724619!5m2!1ses!2sco" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>
</section>
<!-- //contact -->
		
<!-- footer -->
<footer class="footer py-5">
	<div class="container pt-lg-4">
		<div class="row">
			<div class="col-lg-6 col-sm-6 footer-top">
				<h4 class="mb-4 w3f_title">Información de contacto</h4>
				<ul class="list-w3">
					<li><span class="fa mr-1 fa-map-marker"></span>Cra. 7 #89, Bogotá D.C - Piso 16</li>
					<li class="my-2"><span class="fa mr-1 fa-phone"></span>7456300</li>
					<li class=""><span class="fa mr-1 fa-envelope"></span><a href="mailto:johan.mantilla@findasense.com">johan.mantilla@findasense.com</a></li>
				</ul>
                <br>
			</div>
            <div class="col-lg-6 col-sm-6 footer-top">
                <h4 class="mb-4 w3f_title">Desarrollo</h4>
                <div class="row">
                    <div style="paidding:10px;" class="col-lg-6 col-sm-6">
                        <center><img src={% static "images/DjangoHeroku.jpg" alt="" %} class="img-fluid"></center>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <center><img src={% static "images/DockerLogo.png" alt="" %} class="img-fluid"></center>
                    </div>
                </div>
			</div>
        </div>
	</div>
	<!-- //footer bottom -->
</footer>
<!-- //footer -->

</body>
</html>